# Loan Default Prediction

**Project Overview**

Build a predictive model that assigns default probabilities to loan applications.
Minimize nancial risk by accurately predicting the likelihood of loan defaults, enabling
more informed and strategic lending decisions.

# Notebook Structure
---
<details>
<summary><b>1. Business Problem and Objectives</b></summary>
   Define the problem being addressed and its relevance to real-world scenarios.
</details>

---

<details>
<summary><b>2. Data Acquisition and Preparation</b></summary>

- ### **2.1 Data Source and Download**  
  Explanation of the dataset source and how it was obtained.  

- ### **2.2 Installing Required Modules**  
  List and install the libraries needed for the project.  

- ### **2.3 Importing Modules and Global Variables**  
  Set up imports and define constants or global variables.  

- ### **2.4 Defining Supplemental Functions**  
  Helper functions to streamline data processing.  

- ### **2.5 Data Loading**  
  Load the dataset into a DataFrame or suitable data structure.  

- ### **2.6 Basic Data Understanding**  
  Perform initial data exploration, including shape, columns, and types.  

</details>

---

<details>
<summary><b>3. Data Preprocessing and Feature Engineering</b></summary>

- ### **3.1 Cleaning**  

- ### **3.2 Preprocessing**  

- ### **3.3 Feature Extraction**  

</details>

---

<details>
<summary><b>4. Predictive Analysis</b></summary>

- ### **4.1 Train-Test Data Split**  
- ### **4.2 Classification with Simple Model**   
  Choose a simple base classification model and train it on the preprocessed data. Assess model performance using metrics like accuracy, precision, and recall.
- ### **4.3 Selecting Best Model for Feature Reduction**
  Deploy several advanced classification models with feature interpretability.
- ### **4.4 Feature Reduction Using Best Advanced Model**
  Reducing dataset to most important features from best performing model.        
- ### **4.5 Tuning Hyperparameters for Logistic Regression Model**
  Use parameter grid search to find the best-performing model.  
- ### **4.6 Improved Model Performance**
  Assess model performance using metrics like accuracy, precision, and recall.
- ### **4.7 Feature Interpretation**
  Visualize results and discuss findings, including strengths and limitations.
</details>

---

<details>
<summary><b>5. Conclusion</b></summary>
Summarize work.
Summarize findings, including strengths and limitations.
Suggest future work.
</details>

## 1.1 Business Problem and Objectives

**Problem Statement:**
**Key Questions:**
**Project Objectives:**

# 2. Data Acquisition and Preparation

## 2.1. Data Understanding

This section outlines the source of the data used in this project,  and provides instructions for downloading it.

**Data Sources**
**Data Relevance**
**Data Limitations**
**Download Instructions**
**Data Storage**
**Data Loading**

## 2.2 Installing Required Modules

This section focuses on installing the necessary Python libraries and packages required

1. **Requirements File**
    - We retrieve the list of required packages from a `requirements.txt` file hosted on GitHub using `wget`. This file contains the names and versions of all the dependencies.
    - This ensures that we install the correct versions of the libraries for compatibility and reproducibility.
2. **Installation using pip**
    - We use Python's `pip` package manager to install the libraries listed in the `requirements.txt` file.
    - The `-r` flag instructs `pip` to read the requirements file and install all the packages listed within.

Obtaining Data from the [Loan Default Prediction Competition](https://www.kaggle.com/competitions/home-credit-default-risk/overview) on **Kaggle:**

Before accessing the loan default prediction data, you must first join the competition and agree to its specific Terms & Conditions. Follow the step:

1. Create/Log In to Your Kaggle Account.
2. Navigate to the Competition Page. This page will have all the relevant details about the competition, including the rules and guidelines.
3. Click the “Join Competition” button. This action will prompt you to review and agree to the competition's Terms & Conditions. You must accept these terms before you can access the data.
4. Downloading the Dataset.
  
  a) **Manual Download**. After joining and agreeing to the terms, use the download button provided on the competition page to download the dataset directly to your computer.

  b) **Using the Kaggle API**. If you prefer using the command line, install the Kaggle API.

  `!pip install kaggle`

  Next, ensure your Kaggle API credentials (found in your account settings) are correctly set up (typically by placing the kaggle.json file in the ~/.kaggle/ directory). Then, run:

  `!kaggle competitions download -c home-credit-default-risk`

In [1]:
# Upload kaggle.json
from google.colab import files
files.upload()  # Upload your kaggle.json file here
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json

This block of code will download the dataset into either `/content` if environment is `Colab`, or into local `Downloads` folder.

In [2]:
# Download the dataset !kaggle competitions download -c home-credit-default-risk
# A fancier way of doing the kaggle download with try-catch block, if notebook is executed locally
import subprocess

try:
    # Run the Kaggle dataset download command
    result = subprocess.run(
        ["kaggle", "competitions", "download", "-c", "home-credit-default-risk"],
        check=True,  # Raise an exception if the command fails
        text=True,   # Capture output as text
        capture_output=True  # Capture stdout and stderr
    )
    print("Dataset downloaded successfully!")
    print(result.stdout)  # Print the command output
except subprocess.CalledProcessError as e:
    print("Error occurred while downloading the dataset.")
    print(f"Return code: {e.returncode}")
    print(f"Error output: {e.stderr}")
except FileNotFoundError:
    print("Kaggle CLI is not installed. Please install it and ensure it's in your PATH.")

Dataset downloaded successfully!
Downloading home-credit-default-risk.zip to /content

This block of code contains supplemental functions that will extra ct and move datasets into defailt `data` directory.

In [4]:
# Import modules
import os
import zipfile
import requests

# Function checks if directory exists
def ensure_directory(path):
    """
    Ensure that a directory exists. If not, create it.
    """
    os.makedirs(path, exist_ok=True)
    print(f"Directory ensured: {path}")

# Function downloads files
def download_files(base_url, file_names, destination_dir):
    """
    Download a list of files from a base URL to a specified directory.

    Args:
    - base_url (str): The base URL for the files.
    - file_names (list): List of filenames to download.
    - destination_dir (str): Directory to save the downloaded files.
    """
    for file_name in file_names:
        url = f"{base_url}/{file_name}"
        dest_path = os.path.join(destination_dir, file_name)
        if not os.path.exists(dest_path):
            print(f"Downloading {file_name}...")
            response = requests.get(url)
            response.raise_for_status()
            with open(dest_path, "wb") as f:
                f.write(response.content)
            print(f"Downloaded: {file_name}")
        else:
            print(f"File already exists: {file_name}")

# Function unzips archive into directory
def unzip_dataset(zip_path, destination_dir):
    """
    Unzip a dataset into the specified directory.

    Args:
    - zip_path (str): Path to the zip file.
    - destination_dir (str): Directory to extract the zip contents.
    """
    with zipfile.ZipFile(zip_path, 'r') as zip_ref:
        zip_ref.extractall(destination_dir)
    print(f"Unzipped: {zip_path} to {destination_dir}")

# Function to determine data directory, depending on runtime environment.

def determine_data_dir():
    """
    Determines the data directory based on the execution environment:
    - Local: Uses 'Data' directory in the current working directory.
    - Cloud (e.g., Google Colab): Uses '/content' as the data directory.

    Returns:
        str: Path to the appropriate data directory.
    """
    if 'COLAB_GPU' in os.environ:  # Check if running in Google Colab
        data_dir = "/content/data"
        print(f"Running in Google Colab. Using data directory: {data_dir}")
    else:
        data_dir = os.path.join(os.getcwd(), "data")
        print(f"Running locally. Using data directory: {data_dir}")

        # Ensure the 'data' directory exists locally
        if not os.path.isdir(data_dir):
            print(f"The directory '{data_dir}' does not exist. Please create it and place the data files there.")
            raise FileNotFoundError(f"'{data_dir}' directory is required for local execution.")

    return data_dir

This block of code syncs repository structure with colab or local version.

In [5]:
# Check data directories
data_dir = determine_data_dir()

# Get the parent directory of data_dir
base_dir = os.path.dirname(data_dir)
models_dir = os.path.join(base_dir, "models")
images_dir = os.path.join(base_dir, "images")

# Ensure directories exist
ensure_directory(data_dir)
ensure_directory(models_dir)
ensure_directory(images_dir)

# Dataset path
zip_file_path_dataset = os.path.join("home-credit-default-risk.zip")

# Check if the file exists
if os.path.exists(zip_file_path_dataset):
    print("File found. Proceeding to unzip...")
    # Unzip dataset
    unzip_dataset("home-credit-default-risk.zip", data_dir)
    # Remove after unzipping
    os.remove(zip_file_path_dataset)
    print(f"Removed ZIP file: {zip_file_path_dataset}")
else:
    print("File not found. Please check the path or download the Dataset from Kaggle.")

# Download supplemental data
github_base_url = "https://raw.githubusercontent.com/leksea/loan-default-prediction/main/data"
supplemental_files = [
]
download_files(github_base_url, supplemental_files, data_dir)

# Download model into models directory
model_base_url = "https://raw.githubusercontent.com/leksea/loan-default-prediction/main/models"
model_files = [
]
download_files(model_base_url, model_files, models_dir)
print("Setup complete.")

Running in Google Colab. Using data directory: /content/data
Directory ensured: /content/data
Directory ensured: /content/models
Directory ensured: /content/images
File not found. Please check the path or download the Dataset from Kaggle.
Setup complete.

# 2.3 Importing Modules and Global Variables

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 2.4 Defining Supplemental Functions

# 2.5 Data Loading

In [7]:
## Loading the files
# determine the data directory
data_dir = determine_data_dir()

df_col_desc = pd.read_csv(os.path.join(data_dir, 'HomeCredit_columns_description.csv'), encoding='latin1')
df_application_train = pd.read_csv(os.path.join(data_dir, 'application_train.csv'), encoding='latin1')
df_application_test = pd.read_csv(os.path.join(data_dir, 'application_test.csv'), encoding='latin1')
df_bureau = pd.read_csv(os.path.join(data_dir, 'bureau.csv'), encoding='latin1')
df_bureau_balance = pd.read_csv(os.path.join(data_dir, 'bureau_balance.csv'), encoding='latin1')
df_credit_card_balance = pd.read_csv(os.path.join(data_dir, 'credit_card_balance.csv'), encoding='latin1')
df_installments_payments = pd.read_csv(os.path.join(data_dir, 'installments_payments.csv'), encoding='latin1')
df_POS_CASH_balance = pd.read_csv(os.path.join(data_dir, 'POS_CASH_balance.csv'), encoding='latin1')
df_previous_application = pd.read_csv(os.path.join(data_dir, 'previous_application.csv'), encoding='latin1')
df_application_test = pd.read_csv(os.path.join(data_dir, 'application_test.csv'), encoding='latin1')

Running in Google Colab. Using data directory: /content/data

# 2.6 Basic Data Understanding

Running built-in functions to gain insights about the data frames.
Start with printing the dataframe with column description, folllowed by calling `pandas` built-in methods `describe` and `info` on all loaded dataframes to get an idea about data distribution.

In [23]:
# Set options to display all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
# print full dataframe
df_col_desc

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
5,8,application_{train|test}.csv,FLAG_OWN_REALTY,Flag if client owns a house or flat,NaN
6,9,application_{train|test}.csv,CNT_CHILDREN,Number of children the client has,NaN
7,10,application_{train|test}.csv,AMT_INCOME_TOTAL,Income of the client,NaN
8,11,application_{train|test}.csv,AMT_CREDIT,Credit amount of the loan,NaN
9,12,application_{train|test}.csv,AMT_ANNUITY,Loan annuity,NaN
10,13,application_{train|test}.csv,AMT_GOODS_PRICE,For consumer loans it is the price of the good...,NaN
11,14,application_{train|test}.csv,NAME_TYPE_SUITE,Who was accompanying client when he was applyi...,NaN
12,15,application_{train|test}.csv,NAME_INCOME_TYPE,"Clients income type (businessman, working, mat...",NaN
13,16,application_{train|test}.csv,NAME_EDUCATION_TYPE,Level of highest education the client achieved,NaN
14,17,application_{train|test}.csv,NAME_FAMILY_STATUS,Family status of the client,NaN
15,18,application_{train|test}.csv,NAME_HOUSING_TYPE,What is the housing situation of the client (r...,NaN
16,19,application_{train|test}.csv,REGION_POPULATION_RELATIVE,Normalized population of region where client l...,normalized
17,20,application_{train|test}.csv,DAYS_BIRTH,Client's age in days at the time of application,time only relative to the application
18,21,application_{train|test}.csv,DAYS_EMPLOYED,How many days before the application the perso...,time only relative to the application
19,22,application_{train|test}.csv,DAYS_REGISTRATION,How many days before the application did clien...,time only relative to the application
20,23,application_{train|test}.csv,DAYS_ID_PUBLISH,How many days before the application did clien...,time only relative to the application
21,24,application_{train|test}.csv,OWN_CAR_AGE,Age of client's car,NaN
22,25,application_{train|test}.csv,FLAG_MOBIL,"Did client provide mobile phone (1=YES, 0=NO)",NaN
23,26,application_{train|test}.csv,FLAG_EMP_PHONE,"Did client provide work phone (1=YES, 0=NO)",NaN
24,27,application_{train|test}.csv,FLAG_WORK_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
25,28,application_{train|test}.csv,FLAG_CONT_MOBILE,"Was mobile phone reachable (1=YES, 0=NO)",NaN
26,29,application_{train|test}.csv,FLAG_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
27,30,application_{train|test}.csv,FLAG_EMAIL,"Did client provide email (1=YES, 0=NO)",NaN
28,31,application_{train|test}.csv,OCCUPATION_TYPE,What kind of occupation does the client have,NaN
29,32,application_{train|test}.csv,CNT_FAM_MEMBERS,How many family members does client have,NaN
30,33,application_{train|test}.csv,REGION_RATING_CLIENT,Our rating of the region where client lives (1...,NaN
31,34,application_{train|test}.csv,REGION_RATING_CLIENT_W_CITY,Our rating of the region where client lives wi...,NaN
32,35,application_{train|test}.csv,WEEKDAY_APPR_PROCESS_START,On which day of the week did the client apply ...,NaN
33,36,application_{train|test}.csv,HOUR_APPR_PROCESS_START,Approximately at what hour did the client appl...,rounded
34,37,application_{train|test}.csv,REG_REGION_NOT_LIVE_REGION,Flag if client's permanent address does not ma...,NaN
35,38,application_{train|test}.csv,REG_REGION_NOT_WORK_REGION,Flag if client's permanent address does not ma...,NaN
36,39,application_{train|test}.csv,LIVE_REGION_NOT_WORK_REGION,Flag if client's contact address does not matc...,NaN
37,40,application_{train|test}.csv,REG_CITY_NOT_LIVE_CITY,Flag if client's permanent address does not ma...,NaN
38,41,application_{train|test}.csv,REG_CITY_NOT_WORK_CITY,Flag if client's permanent address does not ma...,NaN
39,42,application_{train|test}.csv,LIVE_CITY_NOT_WORK_CITY,Flag if client's contact address does not matc...,NaN
40,43,application_{train|test}.csv,ORGANIZATION_TYPE,Type of organization where client works,NaN
41,44,application_{train|test}.csv,EXT_SOURCE_1,Normalized score from external data source,normalized
42,45,application_{train|test}.csv,EXT_SOURCE_2,Normalized score from external data source,normalized
43,46,application_{train|test}.csv,EXT_SOURCE_3,Normalized score from external data source,normalized
44,47,application_{train|test}.csv,APARTMENTS_AVG,Normalized information about building where th...,normalized
45,48,application_{train|test}.csv,BASEMENTAREA_AVG,Normalized information about building where th...,normalized
46,49,application_{train|test}.csv,YEARS_BEGINEXPLUATATION_AVG,Normalized information about building where th...,normalized
47,50,application_{train|test}.csv,YEARS_BUILD_AVG,Normalized information about building where th...,normalized
48,51,application_{train|test}.csv,COMMONAREA_AVG,Normalized information about building where th...,normalized
49,52,application_{train|test}.csv,ELEVATORS_AVG,Normalized information about building where th...,normalized
50,53,application_{train|test}.csv,ENTRANCES_AVG,Normalized information about building where th...,normalized
51,54,application_{train|test}.csv,FLOORSMAX_AVG,Normalized information about building where th...,normalized
52,55,application_{train|test}.csv,FLOORSMIN_AVG,Normalized information about building where th...,normalized
53,56,application_{train|test}.csv,LANDAREA_AVG,Normalized information about building where th...,normalized
54,57,application_{train|test}.csv,LIVINGAPARTMENTS_AVG,Normalized information about building where th...,normalized
55,58,application_{train|test}.csv,LIVINGAREA_AVG,Normalized information about building where th...,normalized
56,59,application_{train|test}.csv,NONLIVINGAPARTMENTS_AVG,Normalized information about building where th...,normalized
57,60,application_{train|test}.csv,NONLIVINGAREA_AVG,Normalized information about building where th...,normalized
58,61,application_{train|test}.csv,APARTMENTS_MODE,Normalized information about building where th...,normalized
59,62,application_{train|test}.csv,BASEMENTAREA_MODE,Normalized information about building where th...,normalized
60,63,application_{train|test}.csv,YEARS_BEGINEXPLUATATION_MODE,Normalized information about building where th...,normalized
61,64,application_{train|test}.csv,YEARS_BUILD_MODE,Normalized information about building where th...,normalized
62,65,application_{train|test}.csv,COMMONAREA_MODE,Normalized information about building where th...,normalized
63,66,application_{train|test}.csv,ELEVATORS_MODE,Normalized information about building where th...,normalized
64,67,application_{train|test}.csv,ENTRANCES_MODE,Normalized information about building where th...,normalized
65,68,application_{train|test}.csv,FLOORSMAX_MODE,Normalized information about building where th...,normalized
66,69,application_{train|test}.csv,FLOORSMIN_MODE,Normalized information about building where th...,normalized
67,70,application_{train|test}.csv,LANDAREA_MODE,Normalized information about building where th...,normalized
68,71,application_{train|test}.csv,LIVINGAPARTMENTS_MODE,Normalized information about building where th...,normalized
69,72,application_{train|test}.csv,LIVINGAREA_MODE,Normalized information about building where th...,normalized
70,73,application_{train|test}.csv,NONLIVINGAPARTMENTS_MODE,Normalized information about building where th...,normalized
71,74,application_{train|test}.csv,NONLIVINGAREA_MODE,Normalized information about building where th...,normalized
72,75,application_{train|test}.csv,APARTMENTS_MEDI,Normalized information about building where th...,normalized
73,76,application_{train|test}.csv,BASEMENTAREA_MEDI,Normalized information about building where th...,normalized
74,77,application_{train|test}.csv,YEARS_BEGINEXPLUATATION_MEDI,Normalized information about building where th...,normalized
75,78,application_{train|test}.csv,YEARS_BUILD_MEDI,Normalized information about building where th...,normalized
76,79,application_{train|test}.csv,COMMONAREA_MEDI,Normalized information about building where th...,normalized
77,80,application_{train|test}.csv,ELEVATORS_MEDI,Normalized information about building where th...,normalized
78,81,application_{train|test}.csv,ENTRANCES_MEDI,Normalized information about building where th...,normalized
79,82,application_{train|test}.csv,FLOORSMAX_MEDI,Normalized information about building where th...,normalized
80,83,application_{train|test}.csv,FLOORSMIN_MEDI,Normalized information about building where th...,normalized
81,84,application_{train|test}.csv,LANDAREA_MEDI,Normalized information about building where th...,normalized
82,85,application_{train|test}.csv,LIVINGAPARTMENTS_MEDI,Normalized information about building where th...,normalized
83,86,application_{train|test}.csv,LIVINGAREA_MEDI,Normalized information about building where th...,normalized
84,87,application_{train|test}.csv,NONLIVINGAPARTMENTS_MEDI,Normalized information about building where th...,normalized
85,88,application_{train|test}.csv,NONLIVINGAREA_MEDI,Normalized information about building where th...,normalized
86,89,application_{train|test}.csv,FONDKAPREMONT_MODE,Normalized information about building where th...,normalized
87,90,application_{train|test}.csv,HOUSETYPE_MODE,Normalized information about building where th...,normalized
88,91,application_{train|test}.csv,TOTALAREA_MODE,Normalized information about building where th...,normalized
89,92,application_{train|test}.csv,WALLSMATERIAL_MODE,Normalized information about building where th...,normalized
90,93,application_{train|test}.csv,EMERGENCYSTATE_MODE,Normalized information about building where th...,normalized
91,94,application_{train|test}.csv,OBS_30_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
92,95,application_{train|test}.csv,DEF_30_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
93,96,application_{train|test}.csv,OBS_60_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
94,97,application_{train|test}.csv,DEF_60_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
95,98,application_{train|test}.csv,DAYS_LAST_PHONE_CHANGE,How many days before application did client ch...,NaN
96,99,application_{train|test}.csv,FLAG_DOCUMENT_2,Did client provide document 2,NaN
97,100,application_{train|test}.csv,FLAG_DOCUMENT_3,Did client provide document 3,NaN
98,101,application_{train|test}.csv,FLAG_DOCUMENT_4,Did client provide document 4,NaN
99,102,application_{train|test}.csv,FLAG_DOCUMENT_5,Did client provide document 5,NaN
100,103,application_{train|test}.csv,FLAG_DOCUMENT_6,Did client provide document 6,NaN
101,104,application_{train|test}.csv,FLAG_DOCUMENT_7,Did client provide document 7,NaN
102,105,application_{train|test}.csv,FLAG_DOCUMENT_8,Did client provide document 8,NaN
103,106,application_{train|test}.csv,FLAG_DOCUMENT_9,Did client provide document 9,NaN
104,107,application_{train|test}.csv,FLAG_DOCUMENT_10,Did client provide document 10,NaN
105,108,application_{train|test}.csv,FLAG_DOCUMENT_11,Did client provide document 11,NaN
106,109,application_{train|test}.csv,FLAG_DOCUMENT_12,Did client provide document 12,NaN
107,110,application_{train|test}.csv,FLAG_DOCUMENT_13,Did client provide document 13,NaN
108,111,application_{train|test}.csv,FLAG_DOCUMENT_14,Did client provide document 14,NaN
109,112,application_{train|test}.csv,FLAG_DOCUMENT_15,Did client provide document 15,NaN
110,113,application_{train|test}.csv,FLAG_DOCUMENT_16,Did client provide document 16,NaN
111,114,application_{train|test}.csv,FLAG_DOCUMENT_17,Did client provide document 17,NaN
112,115,application_{train|test}.csv,FLAG_DOCUMENT_18,Did client provide document 18,NaN
113,116,application_{train|test}.csv,FLAG_DOCUMENT_19,Did client provide document 19,NaN
114,117,application_{train|test}.csv,FLAG_DOCUMENT_20,Did client provide document 20,NaN
115,118,application_{train|test}.csv,FLAG_DOCUMENT_21,Did client provide document 21,NaN
116,119,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_HOUR,Number of enquiries to Credit Bureau about the...,NaN
117,120,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_DAY,Number of enquiries to Credit Bureau about the...,NaN
118,121,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_WEEK,Number of enquiries to Credit Bureau about the...,NaN
119,122,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_MON,Number of enquiries to Credit Bureau about the...,NaN
120,123,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_QRT,Number of enquiries to Credit Bureau about the...,NaN
121,124,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_YEAR,Number of enquiries to Credit Bureau about the...,NaN
122,125,bureau.csv,SK_ID_CURR,ID of loan in our sample - one loan in our sam...,hashed
123,126,bureau.csv,SK_BUREAU_ID,Recoded ID of previous Credit Bureau credit re...,hashed
124,127,bureau.csv,CREDIT_ACTIVE,Status of the Credit Bureau (CB) reported credits,NaN
125,128,bureau.csv,CREDIT_CURRENCY,Recoded currency of the Credit Bureau credit,recoded
126,129,bureau.csv,DAYS_CREDIT,How many days before current application did c...,time only relative to the application
127,130,bureau.csv,CREDIT_DAY_OVERDUE,Number of days past due on CB credit at the ti...,NaN
128,131,bureau.csv,DAYS_CREDIT_ENDDATE,Remaining duration of CB credit (in days) at t...,time only relative to the application
129,132,bureau.csv,DAYS_ENDDATE_FACT,Days since CB credit ended at the time of appl...,time only relative to the application
130,133,bureau.csv,AMT_CREDIT_MAX_OVERDUE,Maximal amount overdue on the Credit Bureau cr...,NaN
131,134,bureau.csv,CNT_CREDIT_PROLONG,How many times was the Credit Bureau credit pr...,NaN
132,135,bureau.csv,AMT_CREDIT_SUM,Current credit amount for the Credit Bureau cr...,NaN
133,136,bureau.csv,AMT_CREDIT_SUM_DEBT,Current debt on Credit Bureau credit,NaN
134,137,bureau.csv,AMT_CREDIT_SUM_LIMIT,Current credit limit of credit card reported i...,NaN
135,138,bureau.csv,AMT_CREDIT_SUM_OVERDUE,Current amount overdue on Credit Bureau credit,NaN
136,139,bureau.csv,CREDIT_TYPE,"Type of Credit Bureau credit (Car, cash,...)",NaN
137,140,bureau.csv,DAYS_CREDIT_UPDATE,How many days before loan application did last...,time only relative to the application
138,141,bureau.csv,AMT_ANNUITY,Annuity of the Credit Bureau credit,NaN
139,142,bureau_balance.csv,SK_BUREAU_ID,Recoded ID of Credit Bureau credit (unique cod...,hashed
140,143,bureau_balance.csv,MONTHS_BALANCE,Month of balance relative to application date ...,time only relative to the application
141,144,bureau_balance.csv,STATUS,Status of Credit Bureau loan during the month ...,NaN
142,145,POS_CASH_balance.csv,SK_ID_PREV,ID of previous credit in Home Credit related t...,NaN
143,146,POS_CASH_balance.csv,SK_ID_CURR,ID of loan in our sample,NaN
144,147,POS_CASH_balance.csv,MONTHS_BALANCE,Month of balance relative to application date ...,time only relative to the application
145,148,POS_CASH_balance.csv,CNT_INSTALMENT,Term of previous credit (can change over time),NaN
146,149,POS_CASH_balance.csv,CNT_INSTALMENT_FUTURE,Installments left to pay on the previous credit,NaN
147,150,POS_CASH_balance.csv,NAME_CONTRACT_STATUS,Contract status during the month,NaN
148,151,POS_CASH_balance.csv,SK_DPD,DPD (days past due) during the month of previo...,NaN
149,152,POS_CASH_balance.csv,SK_DPD_DEF,DPD during the month with tolerance (debts wit...,NaN
150,153,credit_card_balance.csv,SK_ID_PREV,ID of previous credit in Home credit related t...,hashed
151,154,credit_card_balance.csv,SK_ID_CURR,ID of loan in our sample,hashed
152,155,credit_card_balance.csv,MONTHS_BALANCE,Month of balance relative to application date ...,time only relative to the application
153,156,credit_card_balance.csv,AMT_BALANCE,Balance during the month of previous credit,NaN
154,157,credit_card_balance.csv,AMT_CREDIT_LIMIT_ACTUAL,Credit card limit during the month of the prev...,NaN
155,158,credit_card_balance.csv,AMT_DRAWINGS_ATM_CURRENT,Amount drawing at ATM during the month of the ...,NaN
156,159,credit_card_balance.csv,AMT_DRAWINGS_CURRENT,Amount drawing during the month of the previou...,NaN
157,160,credit_card_balance.csv,AMT_DRAWINGS_OTHER_CURRENT,Amount of other drawings during the month of t...,NaN
158,161,credit_card_balance.csv,AMT_DRAWINGS_POS_CURRENT,Amount drawing or buying goods during the mont...,NaN
159,162,credit_card_balance.csv,AMT_INST_MIN_REGULARITY,Minimal installment for this month of the prev...,NaN
160,163,credit_card_balance.csv,AMT_PAYMENT_CURRENT,How much did the client pay during the month o...,NaN
161,164,credit_card_balance.csv,AMT_PAYMENT_TOTAL_CURRENT,How much did the client pay during the month i...,NaN
162,165,credit_card_balance.csv,AMT_RECEIVABLE_PRINCIPAL,Amount receivable for principal on the previou...,NaN
163,166,credit_card_balance.csv,AMT_RECIVABLE,Amount receivable on the previous credit,NaN
164,167,credit_card_balance.csv,AMT_TOTAL_RECEIVABLE,Total amount receivable on the previous credit,NaN
165,168,credit_card_balance.csv,CNT_DRAWINGS_ATM_CURRENT,Number of drawings at ATM during this month on...,NaN
166,169,credit_card_balance.csv,CNT_DRAWINGS_CURRENT,Number of drawings during this month on the pr...,NaN
167,170,credit_card_balance.csv,CNT_DRAWINGS_OTHER_CURRENT,Number of other drawings during this month on ...,NaN
168,171,credit_card_balance.csv,CNT_DRAWINGS_POS_CURRENT,Number of drawings for goods during this month...,NaN
169,172,credit_card_balance.csv,CNT_INSTALMENT_MATURE_CUM,Number of paid installments on the previous cr...,NaN
170,173,credit_card_balance.csv,NAME_CONTRACT_STATUS,"Contract status (active signed,...) on the pre...",NaN
171,174,credit_card_balance.csv,SK_DPD,DPD (Days past due) during the month on the pr...,NaN
172,175,credit_card_balance.csv,SK_DPD_DEF,DPD (Days past due) during the month with tole...,NaN
173,176,previous_application.csv,SK_ID_PREV,ID of previous credit in Home credit related t...,hashed
174,177,previous_application.csv,SK_ID_CURR,ID of loan in our sample,hashed
175,178,previous_application.csv,NAME_CONTRACT_TYPE,"Contract product type (Cash loan, consumer loa...",NaN
176,179,previous_application.csv,AMT_ANNUITY,Annuity of previous application,NaN
177,180,previous_application.csv,AMT_APPLICATION,For how much credit did client ask on the prev...,NaN
178,181,previous_application.csv,AMT_CREDIT,Final credit amount on the previous applicatio...,NaN
179,182,previous_application.csv,AMT_DOWN_PAYMENT,Down payment on the previous application,NaN
180,183,previous_application.csv,AMT_GOODS_PRICE,Goods price of good that client asked for (if ...,NaN
181,184,previous_application.csv,WEEKDAY_APPR_PROCESS_START,On which day of the week did the client apply ...,NaN
182,185,previous_application.csv,HOUR_APPR_PROCESS_START,Approximately at what day hour did the client ...,rounded
183,186,previous_application.csv,FLAG_LAST_APPL_PER_CONTRACT,Flag if it was last application for the previo...,NaN
184,187,previous_application.csv,NFLAG_LAST_APPL_IN_DAY,Flag if the application was the last applicati...,NaN
185,188,previous_application.csv,NFLAG_MICRO_CASH,Flag Micro finance loan,NaN
186,189,previous_application.csv,RATE_DOWN_PAYMENT,Down payment rate normalized on previous credit,normalized
187,190,previous_application.csv,RATE_INTEREST_PRIMARY,Interest rate normalized on previous credit,normalized
188,191,previous_application.csv,RATE_INTEREST_PRIVILEGED,Interest rate normalized on previous credit,normalized
189,192,previous_application.csv,NAME_CASH_LOAN_PURPOSE,Purpose of the cash loan,NaN
190,193,previous_application.csv,NAME_CONTRACT_STATUS,"Contract status (approved, cancelled, ...) of ...",NaN

In [9]:
# print 10 random rows from all dataframes
df_bureau.sample(10, random_state=42)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
1236926,305481,5916012,Closed,currency 1,-1531,0,-435.0,-846.0,NaN,0,450000.00,0.00,NaN,0.0,Credit card,-846,0.0
904815,288975,5667606,Closed,currency 1,-2263,0,-1166.0,-1165.0,NaN,0,169884.00,0.00,0.00,0.0,Consumer credit,-1164,NaN
849614,309911,6052617,Closed,currency 1,-932,0,911.0,-233.0,NaN,0,112500.00,0.00,NaN,0.0,Credit card,-228,NaN
16038,358247,6025723,Closed,currency 1,-800,0,-70.0,-636.0,NaN,0,140611.50,NaN,NaN,0.0,Consumer credit,-636,0.0
124732,452117,5242575,Closed,currency 1,-782,0,-417.0,-415.0,0.000,0,43960.50,0.00,0.00,0.0,Consumer credit,-415,NaN
1101941,100251,5777091,Closed,currency 1,-1734,0,-630.0,-920.0,13768.965,0,135000.00,-39.51,39.51,0.0,Credit card,-920,NaN
848833,416285,6051737,Closed,currency 1,-1463,0,1094.0,-672.0,NaN,0,675000.00,0.00,0.00,0.0,Consumer credit,-521,0.0
646158,284751,6150346,Closed,currency 1,-600,0,-423.0,-423.0,6999.570,0,43903.35,0.00,0.00,0.0,Consumer credit,-423,NaN
421603,433752,5742147,Active,currency 1,-788,0,524.0,NaN,NaN,0,135000.00,119322.00,0.00,0.0,Credit card,-101,NaN
165538,246369,6364518,Closed,currency 1,-556,0,-405.0,-427.0,NaN,0,19179.72,0.00,NaN,0.0,Consumer credit,-423,NaN

In [10]:
df_bureau.describe()

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
count,1.716428e+06,1.716428e+06,1.716428e+06,1.716428e+06,1.610875e+06,1.082775e+06,5.919400e+05,1.716428e+06,1.716415e+06,1.458759e+06,1.124648e+06,1.716428e+06,1.716428e+06,4.896370e+05
mean,2.782149e+05,5.924434e+06,-1.142108e+03,8.181666e-01,5.105174e+02,-1.017437e+03,3.825418e+03,6.410406e-03,3.549946e+05,1.370851e+05,6.229515e+03,3.791276e+01,-5.937483e+02,1.571276e+04
std,1.029386e+05,5.322657e+05,7.951649e+02,3.654443e+01,4.994220e+03,7.140106e+02,2.060316e+05,9.622391e-02,1.149811e+06,6.774011e+05,4.503203e+04,5.937650e+03,7.207473e+02,3.258269e+05
min,1.000010e+05,5.000000e+06,-2.922000e+03,0.000000e+00,-4.206000e+04,-4.202300e+04,0.000000e+00,0.000000e+00,0.000000e+00,-4.705600e+06,-5.864061e+05,0.000000e+00,-4.194700e+04,0.000000e+00
25%,1.888668e+05,5.463954e+06,-1.666000e+03,0.000000e+00,-1.138000e+03,-1.489000e+03,0.000000e+00,0.000000e+00,5.130000e+04,0.000000e+00,0.000000e+00,0.000000e+00,-9.080000e+02,0.000000e+00
50%,2.780550e+05,5.926304e+06,-9.870000e+02,0.000000e+00,-3.300000e+02,-8.970000e+02,0.000000e+00,0.000000e+00,1.255185e+05,0.000000e+00,0.000000e+00,0.000000e+00,-3.950000e+02,0.000000e+00
75%,3.674260e+05,6.385681e+06,-4.740000e+02,0.000000e+00,4.740000e+02,-4.250000e+02,0.000000e+00,0.000000e+00,3.150000e+05,4.015350e+04,0.000000e+00,0.000000e+00,-3.300000e+01,1.350000e+04
max,4.562550e+05,6.843457e+06,0.000000e+00,2.792000e+03,3.119900e+04,0.000000e+00,1.159872e+08,9.000000e+00,5.850000e+08,1.701000e+08,4.705600e+06,3.756681e+06,3.720000e+02,1.184534e+08

In [24]:
df_bureau.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716428 entries, 0 to 1716427
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_CURR              int64
 1   SK_ID_BUREAU            int64
 2   CREDIT_ACTIVE           object
 3   CREDIT_CURRENCY         object
 4   DAYS_CREDIT             int64
 5   CREDIT_DAY_OVERDUE      int64
 6   DAYS_CREDIT_ENDDATE     float64
 7   DAYS_ENDDATE_FACT       float64
 8   AMT_CREDIT_MAX_OVERDUE  float64
 9   CNT_CREDIT_PROLONG      int64
 10  AMT_CREDIT_SUM          float64
 11  AMT_CREDIT_SUM_DEBT     float64
 12  AMT_CREDIT_SUM_LIMIT    float64
 13  AMT_CREDIT_SUM_OVERDUE  float64
 14  CREDIT_TYPE             object
 15  DAYS_CREDIT_UPDATE      int64
 16  AMT_ANNUITY             float64
dtypes: float64(8), int64(6), object(3)
memory usage: 222.6+ MB

In [11]:
df_bureau_balance.sample(10, random_state=42)

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
10077170       6423524             -10      X
15189524       6059583             -20      0
6921920        6298033             -70      C
2380938        6562465              -2      0
21676529       5929260             -31      C
17077395       5514685             -22      C
12606922       5022798             -21      C
24611635       6647764              -4      C
15965686       5067718             -38      C
20810643       5401506             -73      C

In [12]:
df_bureau_balance.describe()

       SK_ID_BUREAU  MONTHS_BALANCE
count  2.729992e+07    2.729992e+07
mean   6.036297e+06   -3.074169e+01
std    4.923489e+05    2.386451e+01
min    5.001709e+06   -9.600000e+01
25%    5.730933e+06   -4.600000e+01
50%    6.070821e+06   -2.500000e+01
75%    6.431951e+06   -1.100000e+01
max    6.842888e+06    0.000000e+00

In [25]:
df_bureau_balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27299925 entries, 0 to 27299924
Data columns (total 3 columns):
 #   Column          Dtype
---  ------          -----
 0   SK_ID_BUREAU    int64
 1   MONTHS_BALANCE  int64
 2   STATUS          object
dtypes: int64(2), object(1)
memory usage: 624.8+ MB

In [13]:
df_credit_card_balance.sample(10, random_state=42)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
2515502,2229653,284348,-45,136399.635,135000,0.0,0.00,0.0,0.00,6750.000,0.00,0.000,126236.880,136399.635,136399.635,0.0,0,0.0,0.0,48.0,Active,1,1
1307940,1786293,156412,-77,0.000,90000,0.0,0.00,0.0,0.00,0.000,1275.84,0.000,0.000,0.000,0.000,0.0,0,0.0,0.0,5.0,Active,0,0
318549,2199394,397441,-88,0.000,180000,0.0,0.00,0.0,0.00,9000.000,115200.00,115200.000,0.000,0.000,0.000,0.0,0,0.0,0.0,1.0,Active,0,0
2558004,1171732,364620,-6,345647.430,337500,84600.0,84600.00,0.0,0.00,16579.215,16650.00,16650.000,312288.525,335103.930,335103.930,6.0,6,0.0,0.0,2.0,Active,0,0
3802735,1798989,361308,-69,93392.505,202500,0.0,0.00,0.0,0.00,10125.000,22500.00,22500.000,88767.720,93392.505,93392.505,0.0,0,0.0,0.0,18.0,Active,0,0
3627168,2226483,285606,-55,0.000,112500,0.0,0.00,0.0,0.00,67.500,652.50,86.445,0.000,0.000,0.000,0.0,0,0.0,0.0,45.0,Active,0,0
595909,2776410,188469,-13,0.000,45000,NaN,0.00,NaN,NaN,0.000,NaN,0.000,0.000,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
307514,2248451,407521,-94,91346.670,90000,4500.0,4500.00,0.0,0.00,4500.000,4500.00,4500.000,87259.095,91346.670,91346.670,1.0,1,0.0,0.0,3.0,Signed,0,0
2974906,1083061,159207,-8,22897.350,90000,45000.0,105373.35,0.0,60373.35,2985.525,45000.00,45000.000,21901.545,22897.350,22897.350,1.0,29,0.0,28.0,3.0,Active,0,0
2575153,1052719,109803,-48,77550.030,135000,0.0,0.00,0.0,0.00,9450.000,18000.00,8550.000,76149.135,77973.030,77973.030,0.0,0,0.0,0.0,1.0,Active,0,0

In [14]:
df_credit_card_balance.describe()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,SK_DPD,SK_DPD_DEF
count,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.090496e+06,3.840312e+06,3.090496e+06,3.090496e+06,3.535076e+06,3.072324e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.840312e+06,3.090496e+06,3.840312e+06,3.090496e+06,3.090496e+06,3.535076e+06,3.840312e+06,3.840312e+06
mean,1.904504e+06,2.783242e+05,-3.452192e+01,5.830016e+04,1.538080e+05,5.961325e+03,7.433388e+03,2.881696e+02,2.968805e+03,3.540204e+03,1.028054e+04,7.588857e+03,5.596588e+04,5.808881e+04,5.809829e+04,3.094490e-01,7.031439e-01,4.812496e-03,5.594791e-01,2.082508e+01,9.283667e+00,3.316220e-01
std,5.364695e+05,1.027045e+05,2.666775e+01,1.063070e+05,1.651457e+05,2.822569e+04,3.384608e+04,8.201989e+03,2.079689e+04,5.600154e+03,3.607808e+04,3.200599e+04,1.025336e+05,1.059654e+05,1.059718e+05,1.100401e+00,3.190347e+00,8.263861e-02,3.240649e+00,2.005149e+01,9.751570e+01,2.147923e+01
min,1.000018e+06,1.000060e+05,-9.600000e+01,-4.202502e+05,0.000000e+00,-6.827310e+03,-6.211620e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-4.233058e+05,-4.202502e+05,-4.202502e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.434385e+06,1.895170e+05,-5.500000e+01,0.000000e+00,4.500000e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.523700e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00,0.000000e+00,0.000000e+00
50%,1.897122e+06,2.783960e+05,-2.800000e+01,0.000000e+00,1.125000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.702700e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01,0.000000e+00,0.000000e+00
75%,2.369328e+06,3.675800e+05,-1.100000e+01,8.904669e+04,1.800000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.633911e+03,9.000000e+03,6.750000e+03,8.535924e+04,8.889949e+04,8.891451e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.200000e+01,0.000000e+00,0.000000e+00
max,2.843496e+06,4.562500e+05,-1.000000e+00,1.505902e+06,1.350000e+06,2.115000e+06,2.287098e+06,1.529847e+06,2.239274e+06,2.028820e+05,4.289207e+06,4.278316e+06,1.472317e+06,1.493338e+06,1.493338e+06,5.100000e+01,1.650000e+02,1.200000e+01,1.650000e+02,1.200000e+02,3.260000e+03,3.260000e+03

In [26]:
df_credit_card_balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3840312 entries, 0 to 3840311
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   SK_ID_PREV                  int64
 1   SK_ID_CURR                  int64
 2   MONTHS_BALANCE              int64
 3   AMT_BALANCE                 float64
 4   AMT_CREDIT_LIMIT_ACTUAL     int64
 5   AMT_DRAWINGS_ATM_CURRENT    float64
 6   AMT_DRAWINGS_CURRENT        float64
 7   AMT_DRAWINGS_OTHER_CURRENT  float64
 8   AMT_DRAWINGS_POS_CURRENT    float64
 9   AMT_INST_MIN_REGULARITY     float64
 10  AMT_PAYMENT_CURRENT         float64
 11  AMT_PAYMENT_TOTAL_CURRENT   float64
 12  AMT_RECEIVABLE_PRINCIPAL    float64
 13  AMT_RECIVABLE               float64
 14  AMT_TOTAL_RECEIVABLE        float64
 15  CNT_DRAWINGS_ATM_CURRENT    float64
 16  CNT_DRAWINGS_CURRENT        int64
 17  CNT_DRAWINGS_OTHER_CURRENT  float64
 18  CNT_DRAWINGS_POS_CURRENT    float64
 19  CNT_INSTALMENT_MATURE_CUM   float64
 20  NAME_CONTRACT_STATUS        object
 21  SK_DPD                      int64
 22  SK_DPD_DEF                  int64
dtypes: float64(15), int64(7), object(1)
memory usage: 673.9+ MB

In [15]:
df_installments_payments.sample(10, random_state=42)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
5672587,2652367,232137,0.0,18,-2398.0,-2403.0,4500.000,4500.000
566432,1845882,167969,1.0,14,-136.0,-140.0,8043.480,8043.480
1780626,2430317,105881,1.0,15,-120.0,-120.0,48222.855,48222.855
2601634,1052426,170461,1.0,7,-1083.0,-1090.0,11721.735,11721.735
4353865,2148550,265570,0.0,47,-1125.0,-1128.0,7875.000,7875.000
10557626,1576797,351755,1.0,10,-702.0,-700.0,9994.455,8850.600
11330874,1956223,315408,1.0,10,-2267.0,-2263.0,12371.805,12356.550
5765003,1396186,244627,1.0,3,-752.0,-755.0,14588.910,14588.910
6769453,2426282,296187,1.0,10,-1253.0,-1256.0,2498.940,2498.940
13578050,1017530,420419,0.0,8,-140.0,-140.0,855.585,855.585

In [16]:
df_installments_payments.describe()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
count,1.360540e+07,1.360540e+07,1.360540e+07,1.360540e+07,1.360540e+07,1.360250e+07,1.360540e+07,1.360250e+07
mean,1.903365e+06,2.784449e+05,8.566373e-01,1.887090e+01,-1.042270e+03,-1.051114e+03,1.705091e+04,1.723822e+04
std,5.362029e+05,1.027183e+05,1.035216e+00,2.666407e+01,8.009463e+02,8.005859e+02,5.057025e+04,5.473578e+04
min,1.000001e+06,1.000010e+05,0.000000e+00,1.000000e+00,-2.922000e+03,-4.921000e+03,0.000000e+00,0.000000e+00
25%,1.434191e+06,1.896390e+05,0.000000e+00,4.000000e+00,-1.654000e+03,-1.662000e+03,4.226085e+03,3.398265e+03
50%,1.896520e+06,2.786850e+05,1.000000e+00,8.000000e+00,-8.180000e+02,-8.270000e+02,8.884080e+03,8.125515e+03
75%,2.369094e+06,3.675300e+05,1.000000e+00,1.900000e+01,-3.610000e+02,-3.700000e+02,1.671021e+04,1.610842e+04
max,2.843499e+06,4.562550e+05,1.780000e+02,2.770000e+02,-1.000000e+00,-1.000000e+00,3.771488e+06,3.771488e+06

In [27]:
df_installments_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13605401 entries, 0 to 13605400
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_PREV              int64
 1   SK_ID_CURR              int64
 2   NUM_INSTALMENT_VERSION  float64
 3   NUM_INSTALMENT_NUMBER   int64
 4   DAYS_INSTALMENT         float64
 5   DAYS_ENTRY_PAYMENT      float64
 6   AMT_INSTALMENT          float64
 7   AMT_PAYMENT             float64
dtypes: float64(5), int64(3)
memory usage: 830.4 MB

In [17]:
df_POS_CASH_balance.sample(10, random_state=42)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
6385902,1141316,278001,-37,12.0,0.0,Completed,0,0
389847,2682740,248899,-67,12.0,4.0,Active,0,0
7302029,2136647,209965,-73,18.0,18.0,Active,0,0
6010681,1678541,432875,-8,24.0,16.0,Active,0,0
2031441,1870173,117636,-86,10.0,7.0,Active,0,0
2774140,1051061,380942,-4,36.0,32.0,Active,0,0
5655609,2405023,377666,-16,12.0,7.0,Active,0,0
464999,2174435,205035,-23,36.0,35.0,Active,0,0
1866748,1709974,173223,-27,12.0,12.0,Active,0,0
5763961,1790808,177150,-4,11.0,0.0,Completed,0,0

In [18]:
df_POS_CASH_balance.describe()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,SK_DPD,SK_DPD_DEF
count,1.000136e+07,1.000136e+07,1.000136e+07,9.975287e+06,9.975271e+06,1.000136e+07,1.000136e+07
mean,1.903217e+06,2.784039e+05,-3.501259e+01,1.708965e+01,1.048384e+01,1.160693e+01,6.544684e-01
std,5.358465e+05,1.027637e+05,2.606657e+01,1.199506e+01,1.110906e+01,1.327140e+02,3.276249e+01
min,1.000001e+06,1.000010e+05,-9.600000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.434405e+06,1.895500e+05,-5.400000e+01,1.000000e+01,3.000000e+00,0.000000e+00,0.000000e+00
50%,1.896565e+06,2.786540e+05,-2.800000e+01,1.200000e+01,7.000000e+00,0.000000e+00,0.000000e+00
75%,2.368963e+06,3.674290e+05,-1.300000e+01,2.400000e+01,1.400000e+01,0.000000e+00,0.000000e+00
max,2.843499e+06,4.562550e+05,-1.000000e+00,9.200000e+01,8.500000e+01,4.231000e+03,3.595000e+03

In [28]:
df_POS_CASH_balance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001358 entries, 0 to 10001357
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   SK_ID_PREV             int64
 1   SK_ID_CURR             int64
 2   MONTHS_BALANCE         int64
 3   CNT_INSTALMENT         float64
 4   CNT_INSTALMENT_FUTURE  float64
 5   NAME_CONTRACT_STATUS   object
 6   SK_DPD                 int64
 7   SK_DPD_DEF             int64
dtypes: float64(2), int64(5), object(1)
memory usage: 610.4+ MB

In [19]:
df_previous_application.sample(10, random_state=42)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
876718,1327604,127360,Consumer loans,5318.100,27616.5,26082.0,2763.0,27616.5,WEDNESDAY,10,Y,1,0.104322,NaN,NaN,XAP,Approved,-1210,Cash through the bank,XAP,NaN,New,Mobile,POS,XNA,Country-wide,384,Consumer electronics,6.0,high,POS household with interest,365243.0,-1174.0,-1024.0,-1024.0,-1017.0,0.0
1463966,1830718,218834,Cash loans,19737.945,135000.0,165226.5,NaN,135000.0,WEDNESDAY,8,Y,1,NaN,NaN,NaN,XNA,Approved,-1223,XNA,XAP,Unaccompanied,New,XNA,Cash,walk-in,Credit and cash offices,0,XNA,12.0,high,Cash Street: high,365243.0,-1193.0,-863.0,-863.0,-855.0,1.0
354631,1258084,104079,Consumer loans,3304.710,36184.5,32562.0,3622.5,36184.5,FRIDAY,11,Y,1,0.109031,NaN,NaN,XAP,Approved,-606,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,30,Connectivity,12.0,middle,POS mobile with interest,365243.0,-574.0,-244.0,-574.0,-569.0,0.0
408441,2257201,389250,Consumer loans,10912.545,240948.0,240948.0,0.0,240948.0,SATURDAY,9,Y,1,0.000000,NaN,NaN,XAP,Approved,-755,Cash through the bank,XAP,Unaccompanied,Refreshed,Audio/Video,POS,XNA,Country-wide,4000,Consumer electronics,24.0,low_action,POS household without interest,365243.0,-724.0,-34.0,-34.0,-26.0,0.0
37031,1038283,385546,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,13,Y,1,NaN,NaN,NaN,XNA,Canceled,-301,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1661444,2463161,191453,Cash loans,23986.890,373500.0,408010.5,NaN,373500.0,MONDAY,10,Y,1,NaN,NaN,NaN,XNA,Approved,-541,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,24.0,middle,Cash X-Sell: middle,365243.0,-511.0,179.0,365243.0,365243.0,1.0
1205033,1852429,234120,Cash loans,23965.830,225000.0,239850.0,NaN,225000.0,WEDNESDAY,15,Y,1,NaN,NaN,NaN,XNA,Approved,-1457,Cash through the bank,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-1427.0,-1097.0,-1097.0,-1089.0,1.0
756582,1870639,250203,Cash loans,56076.705,450000.0,532516.5,NaN,450000.0,MONDAY,13,Y,1,NaN,NaN,NaN,XNA,Approved,-1228,Cash through the bank,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-1198.0,-868.0,-958.0,-956.0,1.0
1065283,1479977,448956,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,13,Y,1,NaN,NaN,NaN,XNA,Canceled,-412,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1386175,2644815,376118,Consumer loans,12146.265,116955.0,93555.0,23400.0,116955.0,SUNDAY,18,Y,1,0.217902,NaN,NaN,XAP,Approved,-324,Cash through the bank,XAP,NaN,Repeater,Computers,POS,XNA,Country-wide,25,Connectivity,10.0,high,POS mobile with interest,365243.0,-290.0,-20.0,-20.0,-16.0,0.0

In [20]:
df_previous_application.describe()

,SK_ID_PREV,SK_ID_CURR,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,HOUR_APPR_PROCESS_START,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,DAYS_DECISION,SELLERPLACE_AREA,CNT_PAYMENT,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
count,1.670214e+06,1.670214e+06,1.297979e+06,1.670214e+06,1.670213e+06,7.743700e+05,1.284699e+06,1.670214e+06,1.670214e+06,774370.000000,5951.000000,5951.000000,1.670214e+06,1.670214e+06,1.297984e+06,997149.000000,997149.000000,997149.000000,997149.000000,997149.000000,997149.000000
mean,1.923089e+06,2.783572e+05,1.595512e+04,1.752339e+05,1.961140e+05,6.697402e+03,2.278473e+05,1.248418e+01,9.964675e-01,0.079637,0.188357,0.773503,-8.806797e+02,3.139511e+02,1.605408e+01,342209.855039,13826.269337,33767.774054,76582.403064,81992.343838,0.332570
std,5.325980e+05,1.028148e+05,1.478214e+04,2.927798e+05,3.185746e+05,2.092150e+04,3.153966e+05,3.334028e+00,5.932963e-02,0.107823,0.087671,0.100879,7.790997e+02,7.127443e+03,1.456729e+01,88916.115834,72444.869708,106857.034789,149647.415123,153303.516729,0.471134
min,1.000001e+06,1.000010e+05,0.000000e+00,0.000000e+00,0.000000e+00,-9.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,-0.000015,0.034781,0.373150,-2.922000e+03,-1.000000e+00,0.000000e+00,-2922.000000,-2892.000000,-2801.000000,-2889.000000,-2874.000000,0.000000
25%,1.461857e+06,1.893290e+05,6.321780e+03,1.872000e+04,2.416050e+04,0.000000e+00,5.084100e+04,1.000000e+01,1.000000e+00,0.000000,0.160716,0.715645,-1.300000e+03,-1.000000e+00,6.000000e+00,365243.000000,-1628.000000,-1242.000000,-1314.000000,-1270.000000,0.000000
50%,1.923110e+06,2.787145e+05,1.125000e+04,7.104600e+04,8.054100e+04,1.638000e+03,1.123200e+05,1.200000e+01,1.000000e+00,0.051605,0.189122,0.835095,-5.810000e+02,3.000000e+00,1.200000e+01,365243.000000,-831.000000,-361.000000,-537.000000,-499.000000,0.000000
75%,2.384280e+06,3.675140e+05,2.065842e+04,1.803600e+05,2.164185e+05,7.740000e+03,2.340000e+05,1.500000e+01,1.000000e+00,0.108909,0.193330,0.852537,-2.800000e+02,8.200000e+01,2.400000e+01,365243.000000,-411.000000,129.000000,-74.000000,-44.000000,1.000000
max,2.845382e+06,4.562550e+05,4.180581e+05,6.905160e+06,6.905160e+06,3.060045e+06,6.905160e+06,2.300000e+01,1.000000e+00,1.000000,1.000000,1.000000,-1.000000e+00,4.000000e+06,8.400000e+01,365243.000000,365243.000000,365243.000000,365243.000000,365243.000000,1.000000

In [29]:
df_previous_application.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1670214 non-null  int64
 1   SK_ID_CURR                   1670214 non-null  int64
 2   NAME_CONTRACT_TYPE           1670214 non-null  object
 3   AMT_ANNUITY                  1297979 non-null  float64
 4   AMT_APPLICATION              1670214 non-null  float64
 5   AMT_CREDIT                   1670213 non-null  float64
 6   AMT_DOWN_PAYMENT             774370 non-null   float64
 7   AMT_GOODS_PRICE              1284699 non-null  float64
 8   WEEKDAY_APPR_PROCESS_START   1670214 non-null  object
 9   HOUR_APPR_PROCESS_START      1670214 non-null  int64
 10  FLAG_LAST_APPL_PER_CONTRACT  1670214 non-null  object
 11  NFLAG_LAST_APPL_IN_DAY       1670214 non-null  int64
 12  RATE_DOWN_PAYMENT            774370 non-null   float64
 13  RATE_INTEREST_PRIMARY        5951 non-null     float64
 14  RATE_INTEREST_PRIVILEGED     5951 non-null     float64
 15  NAME_CASH_LOAN_PURPOSE       1670214 non-null  object
 16  NAME_CONTRACT_STATUS         1670214 non-null  object
 17  DAYS_DECISION                1670214 non-null  int64
 18  NAME_PAYMENT_TYPE            1670214 non-null  object
 19  CODE_REJECT_REASON           1670214 non-null  object
 20  NAME_TYPE_SUITE              849809 non-null   object
 21  NAME_CLIENT_TYPE             1670214 non-null  object
 22  NAME_GOODS_CATEGORY          1670214 non-null  object
 23  NAME_PORTFOLIO               1670214 non-null  object
 24  NAME_PRODUCT_TYPE            1670214 non-null  object
 25  CHANNEL_TYPE                 1670214 non-null  object
 26  SELLERPLACE_AREA             1670214 non-null  int64
 27  NAME_SELLER_INDUSTRY         1670214 non-null  object
 28  CNT_PAYMENT                  1297984 non-null  float64
 29  NAME_YIELD_GROUP             1670214 non-null  object
 30  PRODUCT_COMBINATION          1669868 non-null  object
 31  DAYS_FIRST_DRAWING           997149 non-null   float64
 32  DAYS_FIRST_DUE               997149 non-null   float64
 33  DAYS_LAST_DUE_1ST_VERSION    997149 non-null   float64
 34  DAYS_LAST_DUE                997149 non-null   float64
 35  DAYS_TERMINATION             997149 non-null   float64
 36  NFLAG_INSURED_ON_APPROVAL    997149 non-null   float64
dtypes: float64(15), int64(6), object(16)
memory usage: 471.5+ MB

In [21]:
df_application_test.sample(10, random_state=42)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
15071,208550,Cash loans,M,Y,Y,2,450000.0,854896.5,36351.0,702000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.032561,-11348,-1149,-5443.0,-3953,14.0,1,1,0,1,0,0,Managers,4.0,1,1,MONDAY,13,0,0,0,0,0,0,Business Entity Type 3,0.637061,0.771890,NaN,0.0926,0.0568,0.9732,0.6328,0.0115,0.072,0.1379,0.1333,0.1750,0.0379,0.0751,0.0898,0.0015,0.0081,0.0378,0.0413,0.9727,0.6406,0.0026,0.0000,0.1034,0.0833,0.1250,0.0152,0.0331,0.0192,0.0000,0.0000,0.0375,0.0621,0.9727,0.6310,0.0039,0.00,0.1034,0.0833,0.1250,0.0332,0.0308,0.0298,0.0000,0.0015,reg oper account,block of flats,0.0231,"Stone, brick",No,0.0,0.0,0.0,0.0,-730.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10157,173779,Cash loans,F,N,Y,0,67500.0,296280.0,19062.0,225000.0,Unaccompanied,Pensioner,Higher education,Single / not married,House / apartment,0.009175,-19852,365243,-192.0,-3237,NaN,1,0,0,1,0,0,NaN,1.0,2,2,FRIDAY,14,0,0,0,0,0,0,XNA,NaN,0.672038,0.554947,0.2320,0.1576,0.9990,0.9864,0.0803,0.200,0.1724,0.3333,0.3750,0.0291,0.1891,0.2099,0.8687,0.0000,0.2363,0.1635,0.9990,0.9869,0.0810,0.2014,0.1724,0.3333,0.3750,0.0297,0.2066,0.2186,0.8755,0.0000,0.2342,0.1576,0.9990,0.9866,0.0808,0.20,0.1724,0.3333,0.3750,0.0296,0.1924,0.2136,0.8734,0.0000,reg oper spec account,block of flats,0.2187,"Stone, brick",No,0.0,0.0,0.0,0.0,-693.0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
36313,365820,Cash loans,F,Y,N,0,135000.0,339948.0,35694.0,315000.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.024610,-15138,-4891,-9273.0,-4450,7.0,1,1,0,1,1,0,Private service staff,2.0,2,2,MONDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.789471,0.630215,0.619528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0018,NaN,No,0.0,0.0,0.0,0.0,-231.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
6017,144092,Cash loans,M,N,Y,0,256500.0,609898.5,31270.5,526500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.002042,-15214,-2773,-2075.0,-4943,NaN,1,1,0,1,0,1,Laborers,2.0,3,3,FRIDAY,10,0,0,0,0,0,0,Other,0.460429,0.771297,0.410103,0.0557,0.0000,0.9861,0.8096,0.0000,0.080,0.0690,0.3333,0.3750,0.0672,0.0454,0.0591,0.0000,0.0385,0.0567,0.0000,0.9861,0.8171,0.0000,0.0806,0.0690,0.3333,0.3750,0.0687,0.0496,0.0616,0.0000,0.0408,0.0562,0.0000,0.9861,0.8121,0.0000,0.08,0.0690,0.3333,0.3750,0.0684,0.0462,0.0602,0.0000,0.0393,NaN,block of flats,0.0489,Panel,No,0.0,0.0,0.0,0.0,-790.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
26319,291599,Cash loans,M,N,N,1,180000.0,450000.0,22977.0,450000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.018029,-15806,-5816,-1188.0,-5943,NaN,1,1,1,1,1,0,Core staff,3.0,3,3,MONDAY,7,0,0,0,0,0,0,Government,0.345827,0.479513,NaN,0.1701,0.1896,0.9891,0.8504,0.2500,0.000,0.4138,0.1667,0.0417,0.1562,0.1370,0.1688,0.0077,0.0178,0.1733,0.1968,0.9891,0.8563,0.2522,0.0000,0.4138,0.1667,0.0417,0.1597,0.1497,0.1759,0.0078,0.0189,0.1718,0.1896,0.9891,0.8524,0.2515,0.00,0.4138,0.1667,0.0417,0.1589,0.1394,0.1718,0.0078,0.0182,reg oper account,block of flats,0.1367,Panel,No,1.0,0.0,1.0,0.0,-2580.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
43717,418609,Cash loans,F,N,Y,1,180000.0,410476.5,31896.0,373500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,0.008625,-15720,-2961,-7193.0,-3458,NaN,1,1,0,1,0,0,NaN,2.0,2,2,TUESDAY,17,0,0,0,0,0,0,Construction,0.526234,0.518766,0.602386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
40594,398791,Cash loans,F,N,Y,0,112500.0,495000.0,25272.0,495000.0,Unaccompanied,State servant,Secondary / secondary special,Married,House / apartment,0.011703,-16884,-1407,-52.0,-438,NaN,1,1,1,1,0,0,Medicine staff,2.0,2,2,MONDAY,15,0,0,0,0,0,0,Medicine,0.851614,0.563591,0.105473,0.1010,0.0000,0.9821,0.7552,0.0154,0.080,0.0345,0.5417,0.5833,0.0373,0.0824,0.0833,0.0000,0.0000,0.1029,0.0000,0.9821,0.7648,0.0155,0.0806,0.0345,0.5417,0.5833,0.0382,0.0900,0.0868,0.0000,0.0000,0.1020,0.0000,0.9821,0.7585,0.0155,0.08,0.0345,0.5417,0.5833,0.0380,0.0838,0.0848,0.0000,0.0000,not specified,block of flats,0.0701,Panel,No,0.0,0.0,0.0,0.0,-567.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
14238,202661,Cash loans,M,N,Y,0,360000.0,1024740.0,52452.0,900000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.009549,-22810,-4049,-858.0,-1163,NaN,1,1,0,1,0,0,Managers,2.0,2,2,TUESDAY,12,0,0,0,0,0,0,Services,NaN,0.476501,0.452534,0.1763,0.1000,0.9985,0.9796,0.0911,0.120,0.1034,0.3542,0.3958,NaN,0.1437,0.1496,0.0000,0.0000,0.1702,0.1038,0.9985,0.9804,0.0920,0.1208,0.1034,0.3333,0.3750,NaN,0.1488,0.1477,0.0000,0.0000,0.1780,0.1000,0.9985,0.9799,0.0917,0.12,0.1034,0.3542,0.3958,NaN,0.1462,0.1522,0.0000,0.0000,reg oper spec account,block of flats,0.1656,Panel,No,1.0,0.0,1.0,0.0,-747.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
11713,185171,Cash loans,M,Y,Y,0,157500.0,369000.0,38875.5,369000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.028663,-18381,-1185,-5223.0,-1909,2.0,1,1,0,1,0,0,Laborers,2.0,2,2,TUESDAY,12,0,0,0,0,0,0,Other,NaN,0.652661,0.263647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,-1609.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0
1655,111761,Cash loans,F,N,Y,0,337500.0,2013840.0,62640.0,1800000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.032561,-17232,-1084,-6534.0,-766,NaN,1,1,0,1,0,1,Private service staff,2.0,1,1,THURSDAY,15,0,0,0,0,0,0,Business Entity Type 3,NaN,0.679707,0.669057,0.0619,0.0000,0.9737,NaN,NaN,0.000,0.1034,0.1667,NaN,0.0637,NaN,0.0497,NaN,0.0000,0.0630,0.0000,0.9737,NaN,NaN,0.0000,0.1034,0.1667,NaN,0.0652,NaN,0.0518,NaN,0.0000,0.0625,0.0000,0.9737,NaN,NaN,0.00,0.1034,0.1667,NaN,0.0648,NaN,0.0506,NaN,0.0000,NaN,block of flats,0.0391,"Stone, brick",No,0.0,0.0,0.0,0.0,-1764.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0

In [22]:
df_application_test.describe()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,48744.000000,48744.000000,4.874400e+04,4.874400e+04,48720.000000,4.874400e+04,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,16432.000000,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,28212.000000,48736.000000,40076.000000,24857.000000,21103.000000,25888.000000,16926.000000,15249.000000,23555.000000,25165.000000,25423.000000,16278.000000,20490.000000,15964.000000,25192.000000,15397.000000,22660.000000,24857.000000,21103.000000,25888.000000,16926.000000,15249.000000,23555.000000,25165.000000,25423.000000,16278.000000,20490.000000,15964.000000,25192.000000,15397.000000,22660.000000,24857.000000,21103.000000,25888.000000,16926.000000,15249.000000,23555.000000,25165.000000,25423.000000,16278.000000,20490.000000,15964.000000,25192.000000,15397.000000,22660.000000,26120.000000,48715.000000,48715.000000,48715.000000,48715.000000,48744.000000,48744.0,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,48744.000000,48744.0,48744.000000,48744.0,48744.0,48744.0,48744.0,48744.0,48744.0,48744.000000,48744.0,48744.0,48744.0,42695.000000,42695.000000,42695.000000,42695.000000,42695.000000,42695.000000
mean,277796.676350,0.397054,1.784318e+05,5.167404e+05,29426.240209,4.626188e+05,0.021226,-16068.084605,67485.366322,-4967.652716,-3051.712949,11.786027,0.999979,0.809720,0.204702,0.998400,0.263130,0.162646,2.146767,2.038159,2.012596,12.007365,0.018833,0.055166,0.042036,0.077466,0.224664,0.174216,0.501180,0.518021,0.500106,0.122388,0.090065,0.978828,0.751137,0.047624,0.085168,0.151777,0.233706,0.238423,0.067192,0.105885,0.112286,0.009231,0.029387,0.119078,0.088998,0.978292,0.758327,0.045223,0.080570,0.147161,0.229390,0.233854,0.065914,0.110874,0.110687,0.008358,0.028161,0.122809,0.089529,0.978822,0.754344,0.047420,0.084128,0.151200,0.233154,0.237846,0.068069,0.107063,0.113368,0.008979,0.029296,0.107129,1.447644,0.143652,1.435738,0.101139,-1077.766228,0.0,0.786620,0.000103,0.014751,0.087477,0.000041,0.088462,0.004493,0.0,0.001169,0.0,0.0,0.0,0.0,0.0,0.0,0.001559,0.0,0.0,0.0,0.002108,0.001803,0.002787,0.009299,0.546902,1.983769
std,103169.547296,0.709047,1.015226e+05,3.653970e+05,16016.368315,3.367102e+05,0.014428,4325.900393,144348.507136,3552.612035,1569.276709,11.462889,0.004529,0.392526,0.403488,0.039971,0.440337,0.369046,0.890423,0.522694,0.515804,3.278172,0.135937,0.228306,0.200673,0.267332,0.417365,0.379299,0.205142,0.181278,0.189498,0.113112,0.081536,0.049318,0.113188,0.082868,0.139164,0.100669,0.147361,0.164976,0.081909,0.098284,0.114860,0.048749,0.072007,0.113465,0.082655,0.053782,0.110117,0.081169,0.137509,0.101748,0.146485,0.165034,0.082880,0.103980,0.116699,0.046657,0.073504,0.114184,0.081022,0.049663,0.111998,0.082892,0.139014,0.100931,0.147629,0.165241,0.082869,0.099737,0.116503,0.048148,0.072998,0.111420,3.608053,0.514413,3.580125,0.403791,878.920740,0.0,0.409698,0.010128,0.120554,0.282536,0.006405,0.283969,0.066879,0.0,0.034176,0.0,0.0,0.0,0.0,0.0,0.0,0.039456,0.0,0.0,0.0,0.046373,0.046132,0.054037,0.110924,0.693305,1.838873
min,100001.000000,0.000000,2.694150e+04,4.500000e+04,2295.000000,4.500000e+04,0.000253,-25195.000000,-17463.000000,-23722.000000,-6348.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.013458,0.000008,0.000527,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4361.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,188557.750000,0.000000,1.125000e+05,2.606400e+05,17973.000000,2.250000e+05,0.010006,-19637.000000,-2910.000000,-7459.250000,-4448.000000,4.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.343695,0.408066,0.363945,0.061900,0.046700,0.976700,0.687200,0.008100,0.000000,0.074500,0.166700,0.104200,0.019000,0.050400,0.048575,0.000000,0.000000,0.058800,0.042500,0.976200,0.692900,0.007600,0.000000,0.069000,0.166700,0.083300,0.016525,0.055100,0.045600,0.000000,0.000000,0.062500,0.046150,0.976700,0.691400,0.008000,0.000000,0.069000,0.166700,0.083300,0.019000,0.051300,0.049000,0.000000,0.000000,0.043200,0.000000,0.000000,0.000000,0.000000,-1766.250000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,277549.000000,0.000000,1.575000e+05,4.500000e+05,26199.000000,3.960000e+05,0.018850,-15785.000000,-1293.000000,-4490.000000,-3234.000000,9.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.506771,0.558758,0.519097,0.092800,0.078100,0.981600,0.755200,0.022700,0.000000,0.137900,0.166700,0.208300,0.048300,0.075600,0.077000,0.000000,0.003800,0.085100,0.077000,0.981600,0.758300,0.020300,0.000000,0.137900,0.166700,0.208300,0.046200,0.081700,0.075100,0.000000,0.001200,0.092600,0.077800,0.981600,0.758500,0.022300,0.000000,0.137900,0.166700,0.208300,0.048800,0.077000,0.077600,0.000000,0.003100,0.070700,0.000000,0.000000,0.000000,0.000000,-863.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,367555.500000,1.000000,2.250000e+05,6.750000e+05,37390.500000,6.300000e+05,0.028663,-12496.000000,-296.000000,-1901.000000,-1706.000000,15.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,3.000000,2.000000,2.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.665956,0.658497,0.652897,0.148500,0.113400,0.986600,0.816400,0.053900,0.160000,0.206900,0.333300,0.375000,0.086800,0.126900,0.137600,0.005100,0.029000,0.150200,0.113550,0.986600,0.823600,0.051700,0.120800,0.206900,0.333300,0.375000,0.085600,0.132200,0.130600,0.003900,0.024500,0.149900,0.113000,0.986600,0.818900,0.053800,0.160000,0.206900,0.333300,0.375000,0.088000,0.126600,0.137425,0.003900,0.028025,0.135700,2.000000,0.000000,2.000000,0.000000,-363.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000
max,456250.000000,20.000000,4.410000e+06,2.245500e+06,180576.000000,2.245500e+06,0.072508,-7338.000000,365243.000000,0.000000,0.000000,74.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,21.000000,3.000000,3.000000,23.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.939145,0.855000,0.882530,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,354.000000,34.000000,351.000000,24.000000,0.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.0,2.000000,2.000000,2.000000,6.000000,7.000000,17.000000

In [30]:
df_application_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Columns: 121 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(40), object(16)
memory usage: 45.0+ MB